<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
<head>
<link rel="icon" type="image/x-icon" href="Lin-Ether.github.io/download/images/favicon.ico"/>
</head>
  <body>

    {%- include header.html -%}
<header>
<link rel="icon" type="image/x-icon" href="Lin-Ether.github.io/download/images/favicon.ico"/>
</header>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
<footer>
<link rel="icon" type="image/x-icon" href="Lin-Ether.github.io/download/images/favicon.ico"/>
</footer>
  </body>

</html>

<!-- Mathjax -->

<!-- <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> -->
